$opacity: 1;

.blink {
  opacity: 0;
  animation: fadeIn 500ms linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-random {
  opacity: 0;
  animation: fadeInRandom 6s linear infinite;
}

@keyframes fadeInRandom {
  0% {
    opacity: $opacity;
  }
  5% {
    opacity: $opacity;
  }
  10% {
    opacity: $opacity;
  }
  15% {
    opacity: $opacity;
  }
  20% {
    opacity: $opacity;
  }
  25% {
    opacity: $opacity;
  }
  30% {
    opacity: $opacity;
  }
  35% {
    opacity: $opacity;
  }
  40% {
    opacity: $opacity;
  }
  45% {
    opacity: $opacity;
  }
  50% {
    opacity: $opacity;
  }
  55% {
    opacity: $opacity;
  }
  60% {
    opacity: $opacity;
  }
  65% {
    opacity: $opacity;
  }
  70% {
    opacity: $opacity;
  }
  75% {
    opacity: $opacity;
  }
  80% {
    opacity: $opacity;
  }
  85% {
    opacity: $opacity;
  }
  90% {
    opacity: $opacity;
  }
  95% {
    opacity: $opacity;
  }
  100% {
    opacity: $opacity;
  }
}

