<div [ngClass]="'toogle dp-af-' + displayTime + 's'" (click)="toggle(!isShowHiddenBar)">
  <div class="icons">
    <svg
      width="300"
      height="300"
      viewBox="0 0 32 42"
      xmlns="http://www.w3.org/2000/svg"
      onclick="this.classList.toggle('active')"
    >
      <g transform="matrix(1,0,0,1,-389.5,-264.004)">
        <g id="arrow_left2">
          <g transform="matrix(1,0,0,1,0,5)">
            <path
              id="top"
              d="M390,270L420,270L420,270C420,270 420.195,250.19 405,265C389.805,279.81 390,279.967 390,279.967"
              [style.stroke]="isShowHiddenBar?'white':colorToggle"
            />
          </g>
          <g
            transform="matrix(1,1.22465e-16,1.22465e-16,-1,0.00024296,564.935)"
          >
            <path
              id="bottom"
              d="M390,270L420,270L420,270C420,270 420.195,250.19 405,265C389.805,279.81 390,279.967 390,279.967"
              [style.stroke]="isShowHiddenBar?'white':colorToggle"
            />
          </g>
          <path id="middle" d="M390,284.967L420,284.967" [style.stroke]="isShowHiddenBar?'white':colorToggle" />
        </g>
      </g>
    </svg>
  </div>
</div>

<div *ngIf="isShowHiddenBar"  class="container-fluid bg-black min-h-screen text-white cursor-none side-bar-container">
  <div class="row">
    <div class="side-bar">
      <div class="row m-xl-2 p-32 text-red-500 blink">
        <a [routerLink]="['/']" class="cursor-none"><button class="diary text-white text-5xl cursor-none">Home</button></a>
      </div>
      <div class="row m-xl-2 p-32 text-red-500 blink">
        <a [routerLink]="['/my-diary']" class="cursor-none"><button class="diary text-white text-5xl cursor-none">Diary</button></a>
      </div>
    </div>

  </div>

</div>
<app-cursor-dot *ngIf="isShowHiddenBar"></app-cursor-dot>
