@use 'styles/align/align';
@use 'styles/animation/displayAfter';
@use 'styles/animation/fadeIn';
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@400;500;600;700&family=Shadows+Into+Light&display=swap");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", Roboto, "Helvetica Neue", sans-serif;
}
