@use '../../../../styles/animation/displayAfter' as *;
@use "../../../../styles/custom/color" as *;
.logo {
  color: $logo-color;
  font-weight: 600;
}

.logo-mini {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 1000;
  font-size: 3vw;
}

.bigger-logo {
  margin-top: 7%;
  .logo-big-size {
    font-size: 250px;
  }
}



